.checkbox{
	zoom : 3;	/*비율 : 1->100 */
}

.table button{
	border: none; font-weight : bold;
	font-size: 20px;
	background-color: transparent;
}

.selectbtn{
	text-align: right;
}
.selectbtn button{
	width: 10%; margin-right: 5px;
}
.buybtn{
	display: flex; justify-content: center;
}
.buybtn button{
	width: 50%; margin: 10px; height: 50px;
}