@charset "UTF-8";

.box1 , .box2 , .box3 ,
.box4, .box5 , .box6 ,
.box7, .box8 , .box9,
.box10, .box11, .box12{
	width: 100px; height: 80px;
	background-color: yellow;
	border: solid 2px red;	
}

.box2{
	position: relative;		/* 상대 위치 : 현 요소의 위치시작점*/
	left	: 50px; top: 50px;
	/* 왼쪽으로부터 50px 이동*/
	/* 위쪽으로부터 50px 이동*/
}


.box5{
	position: absolute; /* 절대위치 : 부모 요소의 위치시작점*/
	left: 50px; top: 50px;
}

.box8 {
	position: fixed;			/* 고정위치 : 디바이스 화면에 위치 고정*/
	right: 50px; bottom: 50px;		/* 오른쪽으로부터 50px 바닥으로부터 50px*/
}

.parent_1{position: relative;
border: solid 2px blue; 
} /* 부모요소에 relative*/

.box11{
	position: absolute;			/* 바로 상위 부모가 relative써야 그 위치에서 상대적으로 이동, 없을시 그 위 상위부모에게 적용*/
	 left: 100px; top:0px;
}

.box12{
	position: static;	/* 생략시 기본값*/
	left: 20px;			/* 위치변경 불가능*/
}