@charset "UTF-8";

/* css 주석 */

/* 1. 모든 곳에 적용 */
*{ color:blue; }

/* 2. h4 태그 적용*/
h4{color: yellow;}

/* 3. class명이 "아무거나1" 인 태그에 스타일 적용 */
.아무거나1{color: green;}

/* 4. id 명이 "아무거나2" 인 태그에 스타일 적용*/

#아무거나2{color: red;}

