@charset "UTF-8";

div{
	border: solid 1px red;
	margin: 20px;
	background-color: purple;
}
span{
	border: solid 1px orange;
}
.s1{display: inline;		width: 1200px; height: 1200;}
.s2{display: block;			width:  200px; height: 200;}
.s3{display: inline-block;  width:  200px; height: 200;}
.s4{display: none;}

.d1{display: inline; 		width:  200px; height: 200;}
.d2{display: block; 		width:  200px; height: 200;}
.d3{display: inline-block; width:  200px; height: 200;}
.d4{display: none; 		width:  200px; height: 200;}


