@charset "UTF-8";

/* -------------------------- 공통 부문 ----------------------------- */
*{ padding: 0px; margin: 0px; font-size: 12px; }
/* a 기본값 제거 */
a{ color: black; text-decoration: none; }
/* 글머리 */
li{ list-style-type: none; }
/* 웹폰트 */
/* ------------------------- 상단 메뉴 ----------------------------- */
/* li 가로 배치하는 방법 1 */
/* .top_menu li { display: inline-block; } */
/* li 가로 배치하는 방법 2 */
.top_menu{ 
	display: flex; 	/* 하위 요소 배치 방법 */
	justify-content: flex-end; /* 하위 요소들 가로 정렬 */
	align-items : center; /* 하위 요소들 세로 정렬 */
	border-bottom: 1px solid #dbdbdb; /* 아래 테두리 */
	padding:  10px; /* 안쪽여백 */
	font-size: 10px; /* 부모요소에 폰트적용시 하위요소 적용 */
	margin-right: 20px;
}
.line{ padding: 0px 10px; }  /* | 사이 여백 */
.top_menu_icon{ width: 20px; vertical-align: middle;  } /* 이미지 크기변경 , 세로 정렬  */ 
/* -------------------------- 메인메뉴 ------------------------------ */
/* 메뉴 와 검색창이 포함된 구역 */
.main_menu{
	display: flex;
	justify-content: space-between; /* 양끝 정렬 */
	align-items: center;
	padding: 0px 50px 0px 30px;
	/*sticky 사용조건  
			1.상위 부모의 높이 사이즈 안에서 고정 vs fixed
			2.top,right,left,bottom 1개이상 필수!!
			3.부모요소 overflow 속성 사용금지
	*/
	position: sticky;		/*상단 메뉴 고정  */
	top:0px;
	z-index: 1;
	background-color: white;
	opacity:0.8 ;			/*배경 투명도 1=100% 0.5=50%  */
}
/* 메뉴 */
.main_menu ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold; /* 글꼴 진하게 */
	padding: 30px;
	width: 65%;	/* 가로 사이즈 */
}
/* 커서(포커스) 활설화 되었을때 테두리 */
*:focus{ outline: none; } 
/* input 과 이미지 구역 */
.searchbox{ border-bottom: 1px solid black;}
/* 검색창 돋보기 이미지 */
.searchbox img{ height: 15px;}
/* 검색 input */
.searchbox input{  border: none; padding: 5px; }
.new{ color: red; }
.logo{ width: 150px; }
/*---------------드랍메뉴--------------------  */

.drop_menu{
	position: relative;		/*상대 위치  */
}

.drop_menu .sub_menu{
	position: absolute;		/*절대 위치  */
	left:-40px;	top:15px;
	display: none;			/*숨김*/
	width: 120px;	/*드랍메뉴 사이즈*/
	background-color: white;	/*드랍메뉴 배경색*/
	padding: 25px 0px 20px 0px;		/*여백*/
	text-align: center;		/*텍스트*/
}

/*해당메뉴에 마우스를 올렸을때*/
.drop_menu:hover .sub_menu{
	display: block;			/* 보이기 */
}
/* ----------대표이미지-------- */
sub_menu li{
	margin: 5px;
}

#main_img{
	width: 100%;
}

#content{
	margin: 0 auto; 
	width: 1600px;	
	padding: 50px 0px;
}

.form_mainft{
	font-size: 17px; margin:20px 0px;
	font-weight: bold;	text-align:center;
}

.form_subft{
	font-size: 12px;	text-align:center;
	margin: 20px 0px;
	color: #c8c8c8;
}

/*------------제품1개------------*/
.item{width: 380px;}

.item img{width: 100%;}
/*칼라 요소의 구역*/

.color span{/*span 요소의 display inline = w,h 사용불가*/
	display:inline-block;
	width: 10px; height: 10px;
	border: solid 1px #c8c8c8;
}

.color_review{
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}

.review{
	font-size: 10px; color: #c8c8c8;
}

.font{
	font-size: 10px;
	margin: 5px 0px;
}

.font_main{
	font-size: 8px; color:gray;
	margin-bottom: 20px;
}

.icon_main{
	display: flex;
}

.font_sub{
	position: relative;
}

.font_sub .discount{
	position : absolute;
	right: 0px;	top: 0px;
}

.price{
	text-decoration: line-through;
	color: gray;
}

.discount{
	color: red;	font-weight: bold;
	font-size: 14px;
}

.font_sub img{
	width: 40px; margin: 10px 0px;
}

.item_s{
	display: flex; justify-content:space-between;
	flex-wrap: wrap;
}


/*------푸터 end--------- */
.ft_top{
	background-color: #f7f7f7;
	padding: 50px 0px 60px 30px; 
	
}

.ft_content{
	width: 1400px; margin: o auto;
	display: flex;
	justify-content: space-between;
}

.ft_content h3{
	margin: 10px 0px;
	font-size: 16px;
}

.ft_content p{
	font-size: 12px;	height:20px;
	line-height: 1.5;
}
/*푸터 바텀*/
.ft_bottom{
	text-align: center;
	font-size: 11px; color: #929292;
	margin: 30px 0px;
	line-height: 180%;
}


/*------------팝업-----------  */
#popup_wrap{
	position: fixed;
	right: 10px; top: 30%;
	flex-direction:column;
	padding: 20px 0px; 
}

#popup_wrap li{
	width: 25px; height: 25px;
	background-color: #f7f7f7;
	padding: 10px;
	border: solid 1px #dbdbdb;
	text-align: center;
}

#popup_wrap img{height: 20px;}

/*-----------------서브 아이템------- --- -*/

.popup_item{
	position: relative;
}

.sub_item{
	display:block; 
	position: absolute;
	top: 0px; right:52px;
	width: 80px ; height: 10px;
	padding: 10px;
	background-color: black;
	color: white;
	border-radius: 10px; 
	display: none;
}

.popup_item:hover .sub_item{
	display: block;
}





































