@charset "EUC-KR";
*{padding: 0px; margin: 0px;}

li{list-style-type: none;}
#quickMenu {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#quickMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#quickMenu li {
  margin-bottom: 10px;
}

#quickMenu li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#quickMenu li a:hover {
  color: #ff0000;
}