@charset "UTF-8";

.book{ 
	width: 300px ;		/* 이미지 사이즈 */
	border: solid 1px gray;
	
}

.list{
	font-size: 30px;		/*폰트 크기*/
	color: orange;
}

.char{
	background: #0f6878;
	color: white;
	padding: 20px;
	width: 500px;
	
}

.check{
	color: orange;
}