@charset "UTF-8";

*{padding: 0px; margin: 0px;}
li{list-style: none;}

#form{
   width: 1200px;
   margin: 0 auto;
}

.top_form{
   font-size: 30px;
   color: #8c6239;   
   margin-top: 30px;
   font-weight: bold;
}

.form_header{
   font-size: 20px;
   font-weight: lighter;
   margin: 20px 0px; 
}

.right_form{
   text-align: right;
   height: 100%;
}

.right_form select{
   width: 140px ; height: 40px;
}

.main_item{
   width: 136px ; height: 36px;

}


.main_item_btn{
   width: 70px ; height: 40px;
   background-color: #8c6239;
   color: white;
   border: none;
}


.bottom_form{
    display : flex;
   justify-content : space-between;
   width : 1200px;
   margin : 0 auto;
   flex-wrap: wrap;
   padding-top: 10px;
   border-bottom:solid 1px #ffc107; 
}
.content{
   height: 450px;
   width : 250px;
   margin : 0 auto;
}   

.content_img img{
   width: 250px; height: 320px;
   margin-top: 20px;
}

.content_item{
   width: 250px; 
   font-size: 12px;
}

.cn_date{
   font-size: 10px;
   color: #999999;
   margin-top: 10px;
}

.number{
   width: 1200px;
   
}

.nb_item{
   width:500px;
   margin: 0 auto;
   text-align:center;
   display: flex;
   justify-content: space-between;
   padding: 20px 0px;
}

.nb_color{
   color: red;
}

.nb_item li{
   margin: 5px 5px;
}

a{ /*모든 a태그 적용*/
   color: black;
   text-decoration: none;      /*밑줄,윗줄,취소선 */
}
/* 액션 속성*/


/* 호버   */

a:hover{   /* 식별자 : hover{}해당 요소에 마우스를 올렸을때*/
   color: orange;
   background-color: white;
}
         /* 팝업  */
#popup_wrap{ /* 팝업창 전체구역 */
   position: fixed;
   right: 20px; top:30%; /* 오른쪽 가운데 */
   height: 329PX;
   border: solid 1px  #852123;;
}

.popup_item li{ height: 53px; } /* 팝업 아이콘 사이즈 */
/* */
.popup_item{ position: relative; 
   width: 70px; height: 58px;
   padding: 13px;
   border: none;
   text-align: center; /* 가로 정렬 */
         }
.popup_item2{
   width: 96px; height: 41px;
   background-color:#852123; 
   border-bottom-left-radius: 3px;  
   border-bottom-right-radius: 3px; 
   margin-top:10px;
}
.popup_item2 img{
   padding-top: 5px;
   display:block;
   border: 1px solid #852123;
   width: 50px;
   height: 10px;
   margin: 0 auto;
}
.popup_item2_son{
   margin: 0 auto;
   

}

.sub_item{
    height: 15px;
   color: #852123;
   border : none;
   font-weight: bold;
   font-size: 12px;
}
.sub_item2{
   font-weight : bold;
   text-align: center;
   color: white;
   border-bottom-left-radius: 10px;
   
}

#pop{
  padding-bottom: 20px;
 }
 
 


.popup_item3{ position: relative; 
   width: 70px; height: 86px;
   padding: 13px;
   border: none;
   text-align: center; /* 가로 정렬 */
   
}

