@charset "UTF-8";

body{
	background-color: #F5F6F7;
}
/*기본값 제거*/
*{padding: 0px; margin: 0px; font-family: "맑은 고딕";} 
a{color: black; text-decoration: none;}		
li{list-style-type: none;}	

/*페이지 구역*/

#header{
	width: 1200px; margin: 0 auto;
	display: flex; justify-content: space-between;
	margin-top: 10px; font-family: "굴림";
}

.hd_right li{
	display: inline-block;
	font-size: 20px; padding: 5px;
	margin-right: 10px; font-weight: bold;
}

.hd_left{
	font-size: 20px; padding:5px; color: blue;
	font-weight: bold;
}

.hd_left2{
	color: black;
}



.h_logo{
	width: 2000px; height: 100%;
	margin: 0 auto; margin-top: 20px;
}

#form{
	width: 1200px; margin: 0 auto;
	padding-top: 50px;
}

.top_form{
	display: flex; width: 1200px; font-size: 20px;
	justify-content: space-between;

}

.form_logo{
	background-image: url("img/icon1.png"); 
	width: 79px; height: 76px;
}

.sub_logo{
	background-image: url("img/icon2.png");
	width: 79px; height: 76px;
}

.main_ft{
	font-size: 20px; font-weight: bold;
	padding-bottom: 10px;
}

 