@charset "UTF-8";

body{
	background-color: #F5F6F7;
}
/*기본값 제거*/
*{padding: 0px; margin: 0px; font-family: "맑은 고딕";} 
a{color: black; text-decoration: none;}		
li{list-style-type: none;}	

/*페이지 구역*/

#header{
	width: 1200px; margin: 0 auto;
	display: flex; justify-content: space-between;
	margin-top: 10px; font-family: "굴림";
}

.hd_right li{
	display: inline-block;
	font-size: 20px; padding: 5px;
	margin-right: 10px; font-weight: bold;
}

.hd_left{
	font-size: 20px; padding:5px; color: blue;
	font-weight: bold;
}

.hd_left2{
	color: black;
}



.h_logo{
	background-image:url("img/sub_intro.jpg");
	width: 2000px; height: 400px;
	margin: 0 auto; margin-top: 10px;
	border: solid 2px black;
	align-items: center;	display:flex;
    justify-content: center;
}

.img_lg{
	color: #C7C591; font-size:25px;
	width: 1200px; text-align: center;
	font-weight: bold;
}

.img_lg2{
	font-size: 10px;
}