@charset "UTF-8";

.wrap{
	width: 1000px; height:600px;		/* 가로세로 사이즈*/
	background-image: url("../img/게임배경.jfif");
	background-repeat:  no-repeat; /* 만일 배경이미지보다 구역사이즈가 더 크면 채우기*/
	margin: 0 auto;
	background-size: 100%;		/*배경이미지 사이즈를 구역 사이즈에 맞게 적용  */
	position: relative;
}

/*유저 구역  */
.userbox{
	width: 100px;height: 100px;
	background-image: url("../img/마리오캐릭터.png");
	background-repeat: no-repeat;
	background-size: 90%;
	position: absolute;				/* 절대위치=부모따라감 */
	/* 위치변경 = top , left , right , bottom [position] */
	top:420px;	
	left:10px;
}
